.main-info{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: x-large;
    align-items: center;
    justify-content: center;
}


.title {
    padding-bottom: 3rem;
    animation: fadeIn 1s 0s both;
}

.about-me {
    display: flex; 
    justify-content: start;
    animation: fadeIn 1s 0.5s both;
    padding-bottom: 3rem;
}

.section-header{
    white-space: nowrap;
    padding-right: 1rem;
}

p{
    text-align: justify;
}

.icon{
    width: 100%;
    block-size: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.socialItem{
    width: 4rem;
    animation: fade 1.25s 1s both;
    animation-play-state: initial;
    transition: all 0.75s ease-in-out;
}

.socialItem:hover{
    rotate: 360deg;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* @keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
} */