.main-info{
    height: 100vh;
    margin: auto;
    width: 50%;
    padding-top: 100%;
    text-align: center;
    font-size: x-large;
}


.title {
    padding-bottom: 1rem;
    animation: fadeIn 1s 0s both;
}

.about-me {
    display: flex; 
    justify-content: start;
    animation: fadeIn 1s 0.5s both;
    
}

.section-header{
    white-space: nowrap;
    padding-right: 1rem;
}

p{
    text-align: justify;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

.icon{
    height: 5rem;
    width: 5rem;
}