$papers: 4;
$colors:( 
  "one":#ffffff,
  "two":#dedede,
  "three":#bdbdbd,
  "four": #969696
);

$folder-content: attr(data-content);
  
body {
  background-color: #1e1f26;
  //back side of the folder
  .folder{
    cursor: pointer;
    position: absolute;
    background-color: #525252;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    //folder label
    &:before {
      width: 55px;
      height: 25px;
      border-radius: 5px;
      content: '';
      background-color: #525252;
      position: absolute;
      top: -10px;
      left: 0px;
    }
    //front side of the folder
    &:after {
      display: block;
      width: 200px;
      height: 150px;
      border-radius: 10px;
      content: $folder-content;
      transform: skew(0deg);
      background-color: #686868;
      transition: all .2s;
      font-weight: lighter;
    }
    
    .paper {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      background-color: whitesmoke;
      width: 190px;
      height: 140px;
      transition: all .2s;
      //adding bg color for each paper div
      @each $color, $i in $colors {
         &.#{$color} {
             background-color: $i;
         }	
      }
    }
    
    &:hover{
      //adding front lapel of folder animation
      &:after {
        transform: skew(-20deg);
        margin-left:25px;
      }
      //adding paper animation
      @for $i from 1 through $papers {
        .paper:nth-child(#{$i}) {
            transform: rotate(#{$i}0deg) translate(-80px, -80px);
        }
      }
    }
  }
}