.navbar{
    width: 3rem;
    height: 100vh;
    position: fixed;
    border-color: black;
    border-right: 2px solid #353535;
}

.navitem{
    width: 2rem;
    height: 2rem;
    stroke: azure;
    opacity: 0.6;
    transition: width, height, margin-left, 0.5s;
}

.navitem:hover{
    width: 2.5rem;
    height: 2.5rem;
}


.navlist {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.navitem .tooltiptext {
    width: 100px;
    background-color: #1b1b1b;
    color: azure;
    text-align: center;
    border-radius: 6px;

    position: absolute;
    left: 3.3rem;
    margin-top: 22%;
    opacity: 0;
    transition: opacity 0.5s;    
}

.navitem:hover .tooltiptext {
    opacity: 1;
}

